<!doctype html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.write('<script src="/' + appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');

        document.write('<link href="/' + appConfig.root + '/shopon/view/purchase/pur-order/pur-order.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/purchase/pur-order/pur-order.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/view/bill-view/bill-view.js"><\/script>');

        document.write('<script src="/' + appConfig.root + '/shopon/service/purchase/purchase-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/purchase/purchase-bill-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/finfacts/service/finfacts-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/finfacts/service/account/finfacts-entry-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/product/item-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/inventory/inventory-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/inventory/stock-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/finfacts/service/account/accounting-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/sales/tray-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/report/dynareport-service.js"><\/script>');

        document.write('<script src="/' + appConfig.root + '/shopon/view/bill-view/bill-view.js"><\/script>');

        document.write('<script src="/' + appConfig.root + '/shopon/service/w3data/w3data.js"><\/script>');

        // Dummy Interface Purpose Only
        document.write('<script src="/' + appConfig.root + '/shopon/service/sales/bill-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/stock-api.js"><\/script>');
    </script>

</head>



<body control="page.purchaseOrder" controlId="purchaseOrder">



    <div control="purchaseOrder.masterPage" controlId="masterPage"></div>

    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">


            <div class="content-area row">
                <div control="purchaseOrder.messagePanel" controlid="msgPanel" class="col-sm-12 message-panel" style="display:none; float: left;">

                </div>
                <div class="col-sm-12" control="purchaseOrder.htmlControl" controlId="pnlSearch">
                    <div style="margin-top:15px;margin-bottom:10px">

                        <input type="button" value="New Purchase Order" control="purchaseOrder.primaryReadButton" controlId="btnNewPO" event="click:btnNewPO_click">

                        <input type="button" style="margin-left:15px;" value="Pay Pending Payment" control="purchaseOrder.secondaryButton" controlId="btnGetPendingPayVendor" event="click:btnGetPendingPayVendor_click">

                        <select class="dropDown" style="float:right" control="purchaseOrder.dropDownList" controlid="ddlState"></select>

                        <input type="button" style="float:right;margin-right:10px" value="Search" control="purchaseOrder.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" class="" role="button">
                        <input type="text" style="float:right;margin-right:10px;width:270px;" class="textBox" controlId="txtPOSearch" control="purchaseOrder.textBox" placeholder="Enter PO No or Supplier Name">

                    </div>

                    <div class="search-result">
                        <div control="purchaseOrder.grid" controlid="grdPOResult"></div>
                    </div>
                </div>
                <div class="detail-panel   col-sm-12" style="display:none" control="purchaseOrder.htmlControl" controlId="pnlDetail">

                    <div class="container-fluid">
                        <div class="detail-action row">
                            <div class="col-sm-5">
                                <input type="button" value="Order" control="purchaseOrder.primaryReadButton" controlid="btnOrderPO" event="click:btnOrderPO_click">

                                <input type="button" value="Deliver" control="purchaseOrder.primaryReadButton" controlid="btnDeliveredPO" event="click:btnDeliveredPO_click">

                                <input type="button" value="Stock" control="purchaseOrder.primaryReadButton" controlId="btnStocked" event="click:btnStocked_click">


                                <input type="button" value="Invoice Matched" control="purchaseOrder.primaryReadButton" controlid="btnInvoiceMatchedPO" event="click:btnInvoiceMatchedPO_click">


                                <input type="button" value="Confirm" control="purchaseOrder.primaryReadButton" controlid="btnInvoiceConfirmedPO" event="click:btnConfirmPO_click">

                                <input type="button" value="Complete" control="purchaseOrder.primaryReadButton" controlid="btnCompletedPO" event="click:btnCompletedPO_click">

                                <!-- Todo remove-->
                                <!--<input type="button" value="Recreate" control="purchaseOrder.secondaryButton" controlid="btnRecreate" event="click:btnRecreate_click">
                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>-->

                                <input type="button" value="Add Item" style="display:none" control="purchaseOrder.primaryReadButton" controlId="btnAddItemToPO" event="click:btnAddItemToPO_click">

                                <input type="button" value="Save" control="purchaseOrder.primaryReadButton" controlId="btnSavePO" event="click:btnSavePO_click">

                                <input type="button" value="Save" control="purchaseOrder.secondaryButton" controlId="btnSavePOItem" event="click:btnSavePOItem_click">

                                <input type="button" value="Pay" control="purchaseOrder.secondaryButton" controlid="btnPayInvoiceAmount" event="click:btnPayInvoiceAmount_click">
                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>
                                <input type="button" value="Settle" control="purchaseOrder.secondaryButton" controlid="btnReceivePayment" event="click:btnReceivePayment_click">



                                <!-- <input type="button" value="Pick From Reorder" control="purchaseOrder.primaryWriteButton" controlid="btnPickReorder" event="click:btnPickReorder_click">-->
                                <input type="button" style="margin-left:20px;float:left" value="Send Mail" control="purchaseOrder.primaryReadButton" controlid="btnSendMail" event="click:btnSendMail_click">

                                <input type="button" value="Add  to PArtial Stock" control="purchaseOrder.primaryReadButton" controlId="btnAddPartialToStock" event="click:btnAddPartialToStock_click">

                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>
                                <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlid="btnReturnPO" event="click:btnCancelPO_click">
                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>
                                <input type="button" class="printButton" value="Invoice" control="purchaseOrder.secondaryButton" controlid="btnInvoicePO" event="click:btnInvoicePO_click">
                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>
                                <input type="button" value="Remove PO" control="purchaseOrder.secondaryButton" controlid="btnRemovePO" event="click:btnRemovePO_click">
                                <span style="padding-left: 5px;padding-right: 5px;    margin-top: 5px;float:left"> |</span>
                                <input type="button" value="Back" control="purchaseOrder.secondaryButton" controlid="btnBack" event="click:btnBack_click">

                            </div>
                            <div class="col-sm-7">
                                <div style="text-align:right">
                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblCreatedDisplay" id='lblCreatedDisplay' name='lblCreatedDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-cogs" aria-hidden="true"></i> Created</span> >
                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblOrderedDisplay" id='lblOrderedDisplay' name='lblOrderedDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Ordered</span> >
                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblConfirmedDisplay" id='lblConfirmedDisplay' name='lblConfirmedDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-check" aria-hidden="true"></i>Confirmed</span> >

                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblDeliveredDisplay" id='lblDeliveredDisplay' name='lblDeliveredDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-truck" aria-hidden="true"></i>Delivered</span> >
                                    <div style="display:none">
                                        <span style="padding-left:0px;border:none;display:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblCancelDisplay" id='lblCancelDisplay' name='lblCancelDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp;Cancel</span> <span style="display:none">&nbsp;>&nbsp;</span>

                                    </div>
                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblStockedDisplay" id='lblStockedDisplay' name='lblStockedDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-money" aria-hidden="true"></i>Stocked</span> >

                                    <span style="padding-left:0px;border:none;font-size: 15px; background-color: white;" class="label-value" controlId="lblCompletedDisplay" id='lblCompletedDisplay' name='lblCompletedDisplay' control="purchaseOrder.htmlControl"><i class="fa fa-money" aria-hidden="true"></i>Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">


                        </div>
                    </div>



                    <div class="container-fluid" controlid="pnlContainerPage" control="purchaseOrder.htmlControl" style="display:none">

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="header-label"><b>Purchase Order</b></span>
                            </div>
                            <div class="col-xs-12 col-lg-2">
                                <span class="label  col-xs-12 ">Supplier</span>
                                <select class="col-xs-12 " controlId="ddlPOVendor" control="purchaseOrder.dropDownList"></select>
                            </div>
                            <div class="col-xs-12 col-lg-2">
                                <span class="label  col-xs-12 ">Expected Date</span>
                                <input type="text" controlId="dsPOExpectedDate" control="purchaseOrder.dateSelector" />
                            </div>
                            <div class="col-xs-12 col-lg-2 ">
                                <span class="label  col-xs-12 ">Invoice No *</span>
                                <input class="col-xs-12 " type="text" controlId="txtInvoiceNo" control="purchaseOrder.textBox">

                            </div>
                            <div class="col-xs-12 col-lg-2 ">
                                <span class="label  col-xs-12">PO No</span>
                                <span class="label-value col-xs-12" controlId="lblPONo" control="purchaseOrder.htmlControl">I0003</span>
                            </div>
                            <div class="col-xs-12 col-lg-2 ">
                                <span class="label  col-xs-12 ">Bill No</span>
                                <span class="col-xs-12 " controlId="lblPOBillNo" control="purchaseOrder.labelValue"></span>

                            </div>
                            <div class="col-xs-12 col-lg-2 ">
                                <span class="label , col-xs-12 ">State</span>
                                <span class="label-value col-xs-12 " controlId="lblPOState" control="purchaseOrder.htmlControl">I0003</span>
                            </div>




                            <div class="col-xs-12" style="margin-top:20px">
                                <span class="header-label"><b>Items</b></span>
                                <div style="float:right">
                                    <div control="purchaseOrder.htmlControl" controlId="pnlReceiveDeliveryActions">
                                        <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlId="btnReceiveDeliveryCancel" event="click:btnReceiveDeliveryCancel_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Delivery" control="purchaseOrder.secondaryButton" controlId="btnReceiveDeliveryConfirm" event="click:btnReceiveDeliveryConfirm_click">

                                    </div>
                                    <div control="purchaseOrder.htmlControl" controlId="pnlReturnDeliveryActions">
                                        <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlId="btnReturnDeliveryCancel" event="click:btnReceiveDeliveryCancel_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Return Damage" control="purchaseOrder.secondaryButton" controlId="btnReturnDeliveryConfirm" event="click:btnReturnDeliveryConfirm_click">

                                    </div>
                                    <div control="purchaseOrder.htmlControl" controlId="pnlAddToStockActions">
                                        <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlId="btnAddToStockCancel" event="click:btnAddToStockCancel_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Stocked" control="purchaseOrder.secondaryButton" controlId="btnAddToStockConfirm" event="click:btnAddToStockConfirm_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Free Stocked" control="purchaseOrder.secondaryButton" controlId="btnAddToFreeStockConfirm" event="click:btnAddToFreeStockConfirm_click">

                                    </div>
                                    <div control="purchaseOrder.htmlControl" controlId="pnlAddToTrayActions">
                                        <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlId="btnAddToTrayCancel" event="click:btnAddToTrayCancel_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Tray" control="purchaseOrder.secondaryButton" controlId="btnAddToTrayConfirm" event="click:btnAddToTrayConfirm_click">

                                    </div>
                                    <div control="purchaseOrder.htmlControl" controlId="pnlReturnTrayActions">
                                        <input type="button" value="Cancel" control="purchaseOrder.secondaryButton" controlId="btnReturnTrayCancel" event="click:btnReturnTrayCancel_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Confirm Tray Return" control="purchaseOrder.secondaryButton" controlId="btnReturnTrayConfirm" event="click:btnReturnTrayConfirm_click">

                                    </div>
                                    <div control="purchaseOrder.htmlControl" controlId="pnlItemActions">
                                        <input type="button" value="Receive Delivery" control="purchaseOrder.secondaryButton" controlId="btnReceiveDelivery" event="click:btnReceiveDelivery_click">
                                        <span style="padding-left: 5px;padding-right: 5px;  "> |</span>

                                        <input type="button" value="Receive Tray" control="purchaseOrder.secondaryButton" controlId="btnReceiveTray" event="click:btnReceiveTray_click">
                                        <span style="padding-left: 5px;padding-right: 5px;  "> |</span>

                                        <input type="button" value="Add to Stock" control="purchaseOrder.secondaryButton" controlId="btnAddToStock" event="click:btnAddToStock_click">
                                        <span style="padding-left: 5px;padding-right: 5px;"> |</span>
                                        <input type="button" value="Return Damage" control="purchaseOrder.secondaryButton" controlId="btnReturnDelivery" event="click:btnReturnDelivery_click">
                                        <span style="padding-left: 5px;padding-right: 5px;  "> |</span>
                                        <input type="button" value="Return Tray" control="purchaseOrder.secondaryButton" controlId="btnReturnTray" event="click:btnReturnTray_click">
                                        <span style="padding-left: 5px;padding-right: 5px;  "> |</span>
                                        <input type="button" value="Return" control="purchaseOrder.secondaryButton" controlid="btnReturnPOItem" event="click:btnReturnPOItem_click">

                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div controlId="pnlItemSearch" control="purchaseOrder.htmlControl" class="sales-item-search" style="display:none; ">
                                    <span class="label"> Item Search </span>
                                    <input controlId="txtItemSearch" control="purchaseOrder.autoCompleteList" type="text" value="" placeholder="Search by Item No,Item Name or Scan." style="width:350px;">
                                    <input value="Search" controlid="btnSearchItem" control="purchaseOrder.primaryReadButton" event="click:btnAdvSearchItem_click">
                                    <input type="button" value="Pick From Reorder" control="purchaseOrder.primaryReadButton" controlid="btnPickReorder" event="click:btnPickReorder_click">
                                    <input value="Advance Search" controlid="btnAdvSearchItem" control="purchaseOrder.secondaryButton" style="display:none" event="click:btnAdvSearchItem_click">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div style="width:100%;overflow-x:auto;overflow-y:hidden">


                                    <div controlId="grdPOItems" control="purchaseOrder.grid">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-xs-12" style="margin-top:20px">
                                <span class="header-label"><b>Supplier Details</b></span>
                            </div>

                            <div class="col-xs-12 col-lg-3 ">
                                <span class="label  col-xs-12 ">Supplier Address</span>
                                <span class="label-value col-xs-12" controlId="lblPOVendorAddress" control="purchaseOrder.htmlControl"></span>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Supplier Phone</span>
                                <span class="label-value col-xs-12 " controlId="lblPOVendorPhone" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Supplier Email</span>
                                <span class="label-value col-xs-12 " controlId="lblPOVendorEmail" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Supplier GST</span>
                                <span class="label-value col-xs-12 " controlId="lblPOVendorGst" control="purchaseOrder.htmlControl"></span>
                            </div>

                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Total Sales</span>
                                <span class="label-value col-xs-12" controlId="lblTotalSales" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Total Payment</span>
                                <span class="label-value col-xs-12" controlId="lblTotalPayment" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Total Returns</span>
                                <span class="label-value col-xs-12" controlId="lblTotalReturns" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Total Returns Payment</span>
                                <span class="label-value col-xs-12" controlId="lblTotalReturnsPayment" control="purchaseOrder.htmlControl"></span>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <span class="label  col-xs-12 ">Pending Payment</span>
                                <span class="label-value col-xs-12" controlId="lblPendingPayment" control="purchaseOrder.htmlControl"></span>
                            </div>

                            <div control="purchaseOrder.htmlControl" controlId="pnlBillSummary">
                                <div class="col-xs-12" style="margin-top:15px">
                                    <span class="header-label"><b>Bill Summary</b></span>
                                </div>

                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Sub Total</span>
                                    <span class="label-value col-xs-12 " control="purchaseOrder.labelValue" controlId="lblSubTotal">0</span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">Total</span>
                                    <span class="label-value col-xs-12 " control="purchaseOrder.labelValue" controlId="lblTotal">0</span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">Returns</span>
                                    <span class="label-value col-xs-12 " controlId="lblReturns" control="purchaseOrder.htmlControl"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">  &nbsp;</span>
                                    <span class="label-value col-xs-12 " style="visibility:hidden">  &nbsp;</span>
                                </div>

                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Total Discounts (-)</span>
                                    <span class="label-value col-xs-12 " controlId="lblTotalDiscounts" control="purchaseOrder.labelValue"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">Amount Paid</span>
                                    <span class="label-value col-xs-12 " controlId="lblTotalAmtPaid" control="purchaseOrder.htmlControl"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Returns Paid</span>
                                    <span class="label-value col-xs-12 " controlId="lblReturnsPaid" control="purchaseOrder.labelValue"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">  &nbsp;</span>
                                    <span class="label-value col-xs-12 " style="visibility:hidden">  &nbsp;</span>
                                </div>



                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12" control="purchaseOrder.label" controlId="lblTaxLabel" event="click:lblTaxLabel_click">Total Tax (+)</span>

                                    <span class="label-value col-xs-12" controlId="lblTotalTax" control="purchaseOrder.labelValue"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Balance</span>
                                    <span class="label-value col-xs-12 " controlId="lblTotalAmtRemaining" control="purchaseOrder.labelValue"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Returns Balance</span>
                                    <span class="label-value col-xs-12 " controlId="lblReturnsBalance" control="purchaseOrder.labelValue"></span>
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12">  &nbsp;</span>
                                    <span class="label-value col-xs-12 " style="visibility:hidden" >  &nbsp;</span>

                                </div>
                                <div class="col-xs-12 col-lg-3">
                                    <span class="label  col-xs-12 ">Round Off</span>
                                    <span class="label-value col-xs-12 " controlId="lblRndOff" control="purchaseOrder.labelValue"></span>
                                </div>








                                <!--
                                <div class="col-xs-12 col-lg-6 ">
                                    <span class="label  col-xs-6 ">Amount Remaining</span>
                                    <span class="label-value col-xs-6 " controlId="lblTotalAmtRemaining" control="purchaseOrder.labelValue"></span>

                                </div>
                                <div class="col-xs-12 col-lg-6 ">
                                    <span class="label  col-xs-6 ">Sub Total</span>
                                    <span class="label-value col-xs-6 " control="purchaseOrder.labelValue" controlId="lblSubTotal">0</span>
                                </div>
                                <div class="col-xs-12 col-lg-6 ">
                                    <span class="label  col-xs-6">Total Paid Amount</span>
                                    <span class="label-value col-xs-6 " controlId="lblTotalAmtPaid" control="purchaseOrder.htmlControl"></span>

                                </div>
                                <div class="col-xs-12 col-lg-6 ">
                                    <span class="label  col-xs-6 ">Total Discounts</span>
                                    <span class="label-value col-xs-6 " controlId="lblTotalDiscounts" control="purchaseOrder.labelValue"></span>

                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <span class="label  col-xs-6 ">Pending Payments</span>
                                    <span class="label-value col-xs-6" controlId="lblPendingPayments" control="purchaseOrder.htmlControl"></span>

                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <span class="label  col-xs-6">Total Tax</span>
                                    <span class="label-value col-xs-6" controlId="lblTotalTax" control="purchaseOrder.labelValue"></span>

                                </div>

                                <div class="col-xs-12 col-lg-6">

                                </div>

                                <div class="col-xs-12 col-lg-6 ">
                                    <span class="label  col-xs-6">Total</span>
                                    <span class="label-value col-xs-6 " control="purchaseOrder.labelValue" controlId="lblTotal">0</span>
                                </div>
                                -->


                            </div>

                            <br />

                            <div class="col-xs-12" style="margin-top:20px">
                                <span class="header-label"><b>Order Tracking Details</b></span>
                            </div>


                            <div class="col-xs-12 col-lg-3 " control="purchaseOrder.htmlControl" controlId="pnlOrderDate">
                                <span class="label  col-xs-12 ">Ordered Date</span>
                                <span class="label-value col-xs-12 " controlId="lblPOOrderedDate" control="purchaseOrder.htmlControl">I0003</span>
                            </div>
                            <div class="col-xs-12 col-lg-3 " control="purchaseOrder.htmlControl" controlId="pnlOrderDate">
                                <span class="label  col-xs-12 ">Confirmed Date</span>
                                <span class="label-value col-xs-12 " controlId="lblPOConfirmedDate" control="purchaseOrder.htmlControl">I0003</span>
                            </div>

                            <div class="col-xs-12 col-lg-3" control="purchaseOrder.htmlControl" controlId="pnlDeliDate">
                                <span class="label  col-xs-12 ">Delivered Date</span>
                                <span class="label-value col-xs-12 " controlId="lblPODeliveredDate" control="purchaseOrder.htmlControl">I0003</span>
                            </div>
                            <div class="col-xs-12 col-lg-3" style="display:none">
                                <span class="label  col-xs-12 ">Journal Id</span>
                                <span class="label-value col-xs-12 " controlId="lblJournalId" control="purchaseOrder.htmlControl"></span>
                            </div>

                            <div control="purchaseOrder.htmlControl" controlId="pnlTransaction">
                                <div class="col-xs-12" style="margin-top:20px">
                                    <span class="header-label"><b>My Transactions</b></span>
                                </div>

                                <div class="col-xs-12" style="margin-top:10px">
                                    <div class="itemGrid" control="purchaseOrder.grid" controlid="grdTransactions"></div>
                                </div>

                            </div>
                            <div control="purchaseOrder.htmlControl" controlId="pnlBillTransaction">
                                <div class="col-xs-12" style="margin-top:20px">
                                    <span class="header-label"><b>Bill Transactions</b></span>
                                </div>
                                <div class="col-xs-12" style="margin-top:10px">
                                    <div class="itemGrid" control="purchaseOrder.grid" controlid="grdBillTransactions"></div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div controlId="pnlPrintingPopup" control="purchaseOrder.popup" style="display:none">
                            <div class="row col-sm-12">
                                &nbsp;
                            </div>
                            <div class="row col-sm-12">
                                <span class="col-sm-4">Export Type</span>
                                <select style="margin-left:15px;" class="col-sm-4" control="purchaseOrder.dropDownList" controlid="ddlExportType">
                                    <option>PDF</option>
                                    <option>EXCEL</option>
                                    <option>WORD</option>
                                    <option>PPT</option>
                                    <option>CSV</option>
                                    <option>HTML</option>
                                </select>
                                <input class="col-xs-12 col-lg-2" style="float:right;" value="Go" controlId="btnPrintJasperBill" control="purchaseOrder.primaryReadButton" event="click:btnPrintJasperBill_click" />
                            </div>
                        </div>
                        <div controlId="pnlItemSelectionPopup" control="purchaseOrder.popup" style="display:none">
                            <div controlId="pnlItemSelection" control="purchaseOrder.itemSelection">

                                <div style="display:inline-block;width:100%">
                                    <span style="float:left; margin-right: 5px;">Item Search</span>
                                    <input style="float:left; width: 150px" type="text" placeholder="Search Item by No, desc" controlId="txtItemSearch" control="itemSelection.textBox" />
                                    <input style="float:right" value="Add" type="button" controlId="txtItemSelAdd" control="itemSelection.htmlControl" event="click:txtItemSelAdd_click" />
                                </div>
                                <div style="margin-top:10px">
                                    <div style="float:left" controlId="grdItemFilter" control="itemSelection.grid"></div>
                                    <div style="float:left;margin-left:20px" controlId="grdItemSelected" control="itemSelection.grid"></div>
                                </div>
                            </div>
                        </div>
                        <div controlId="pnlAdvSearchItemPopup" control="purchaseOrder.popup" style="display:none">
                            <div class="top-panel row col-lg-12" style="margin-left: 0.5%;padding-left: 2.5%;">
                                <span class="label"> Item Search </span>
                                <input controlId="txtAdvItemSearch" control="purchaseOrder.textBox" type="text" value="" placeholder="Search by Item No, Item Name, Item Code, Supplier, Manufacturer, Tax" style="width:65%;">
                                <input value="Search" controlid="btnAdvaSearchItem" control="purchaseOrder.primaryReadButton" event="click:btnAdvaSearchItem_click">
                                <input value="Add" controlid="btnAddAdvaSearchItem" control="purchaseOrder.primaryReadButton" event="click:btnAddAdvaSearchItem_click">
                                <input value="Touch" controlid="btnTouchAdvaSearchItem" control="purchaseOrder.primaryReadButton" event="click:btnTouchAdvaSearchItem_click">
                                <div controlId="grdAdvSearchItem" style="margin-top:2%;" control="purchaseOrder.grid"> </div>
                            </div>
                            <div class="touch row col-lg-12" style="display:none">
                                <div class="left-panel col-lg-4" style="">
                                    <div class="col-lg-12" >
                                        <div class="col-lg-4"><span class="label"> Supplier </span></div>
                                        <div  class="col-lg-8"><input controlId="txtAdvVendor" control="purchaseOrder.textBox" type="text" value="" placeholder="Enter Supplier Name"></div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top: 2%;">
                                        <div class="col-lg-4"><span class="label"> Manufacturer </span></div>
                                        <div class="col-lg-8"><input  controlId="txtAdvManufacturer" control="purchaseOrder.textBox" type="text" value="" placeholder="Enter Manufacturer Name"></div>
                                    </div>
                                </div>
                                <div class="right-panel col-lg-8">
                                    <div controlId="grdTouchAdvSearchItem" control="purchaseOrder.grid"></div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>


            <div controlId="pnlNewPOPopup" control="purchaseOrder.popup" style="display:none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12" style="width:100%;margin-bottom:10px;display: inline-block;">
                            <input value="Save" style="float:right;" controlId="btnAddPOOK" control="purchaseOrder.primaryReadButton" event="click:btnAddPOOK_click" />
                        </div>
                        <div class="col-sm-12">
                            <span class="label col-sm-4">Supplier Name  </span>
                            <select class="col-sm-8" controlId="ddlVendorNos" control="purchaseOrder.dropDownList"></select>
                        </div>
                        <div class="col-sm-12">
                            <span class="label col-sm-4">Expected Date  </span>
                            <input class="col-sm-8" controlId="dsExpectedDate" control="purchaseOrder.dateSelector" />
                        </div>

                    </div>
                </div>


            </div>

            <div controlId="pnlBillPayPopup" control="purchaseOrder.popup" style="display:none">
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Save" style="float:right;" controlId="btnBillPaySOOK" control="purchaseOrder.primaryReadButton" event="click:btnBillPaySOOK_click" />
                </div>

                <div class="detail-basic detail-full ">
                    <div>
                        <span class="label">Payer Name  *</span>
                        <select controlId="ddlCollectorName" control="purchaseOrder.dropDownList"></select>
                    </div>
                    <div style="">
                        <span class="label">Payment Description </span>
                        <input type="text" controlId="txtPayDesc" control="purchaseOrder.textBox">

                    </div>
                    <div style="">
                        <span class="label">Pay For </span>
                        <select control="purchaseOrder.dropDownList" controlid="ddlPayFor">
                            <option selected>Current Purchase Order</option>
                            <!--<option>All Pending Payments</option>-->

                        </select>

                    </div>
                    <div style="">
                        <span class="label">Payment Amount *</span>
                        <input type="text" controlId="txtPayAmount" control="purchaseOrder.textBox">

                    </div>
                    <div>
                        <span class="label">Payment Date *</span>
                        <input controlId="dsBillPayDate" control="purchaseOrder.dateSelector" />
                    </div>

                    <div style="display:none">
                        <span class="label">Payment Type </span>

                        <select control="purchaseOrder.dropDownList" controlid="ddlPayType">
                            <option>Purchase</option>
                            <option>Other</option>

                        </select>
                    </div>
                </div>

            </div>

            <div controlId="pnlReceiveBillPayPopup" control="purchaseOrder.popup" style="display:none">
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Save" style="float:right;" controlId="btnReceiveBillPaySOOK" control="purchaseOrder.primaryReadButton" event="click:btnReceiveBillPaySOOK_click" />
                </div>

                <div class="detail-basic detail-full ">
                    <div>
                        <span class="label">Return Bill No  *</span>
                        <select controlId="ddlReturnBillNo" control="purchaseOrder.dropDownList"></select>
                    </div>
                    <div>
                        <span class="label">Payer Name  *</span>
                        <select controlId="ddlReceiveCollectorName" control="purchaseOrder.dropDownList"></select>
                    </div>
                    <div style="">
                        <span class="label">Payment Description </span>
                        <input type="text" controlId="txtReceivePayDesc" control="purchaseOrder.textBox">

                    </div>
                    <div style="">
                        <span class="label">Payment Amount *</span>
                        <input type="text" controlId="txtReceivePayAmount" control="purchaseOrder.textBox">

                    </div>
                    <div>
                        <span class="label">Payment Date *</span>
                        <input controlId="dsReceiveBillPayDate" control="purchaseOrder.dateSelector" />
                    </div>

                    <div>
                        <span class="label">Payment Type </span>
                        <select control="purchaseOrder.dropDownList" controlid="ddlRetPayType">
                            <option>Return</option>

                        </select>
                    </div>
                </div>

            </div>

            <div controlId="pnlReturnPOPopup" control="purchaseOrder.popup" style="display:none">
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Return" style="float:right;" controlId="btnReturnPOItemPopup" control="purchaseOrder.primaryReadButton" event="click:btnReturnPOItemPopup_click" />
                </div>
                <div class="col-xs-12">
                   <!-- <div style="width:100%;overflow-x:auto;overflow-y:hidden">-->
                    <div style="width:100%; overflow-x:auto; overflow-y:hidden;margin-top:10px">
                        <div controlId="grdReturnPOItems" control="purchaseOrder.grid">
                        </div>
                    </div>
                        <!-- </div>">-->
                    </div>
                <!--<div class="col-xs-12">
                    <span class="label">Previous Returned Item Details</span>
                    <div controlId="grdReturnedPOItems" control="purchaseOrder.grid">
                    </div>
                </div>-->

            </div>

            <div controlId="pnlReturnDeliveryPOPopup" control="purchaseOrder.popup" style="display:none">
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Return Delivery" style="float:right;" controlId="btnReturnDeliveryPOItemPopup" control="purchaseOrder.primaryReadButton" event="click:btnReturnDeliveryPOItemPopup_click" />
                </div>
                <div class="col-xs-12">
                    <div style="width:100%;overflow-x:auto;overflow-y:hidden">
                        <div controlId="grdReturnDeliveryPOItems" control="purchaseOrder.grid">
                        </div>
                    </div>
                </div>

            </div>

            <div controlId="pnlInvoicePOPopup" control="purchaseOrder.popup" style="display:none">
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Print" style="float:right;" controlId="btnPrintPO" control="purchaseOrder.primaryReadButton" event="click:btnPrintPO_click" />
                </div>
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Send SMS" style="float:right;" controlId="btnSendsms" control="purchaseOrder.primaryReadButton" event="click:btnSendsms_click" />
                </div>
                <div style="width:100%;margin-bottom:10px;display: inline-block;">
                    <input value="Send Email" style="float:right;" controlId="btnSendEmail" control="purchaseOrder.primaryReadButton" event="click:btnSendMail_click" />
                </div>
            </div>
            <!-- <div controlId="pnlViewer" control="purchaseOrder.billViewer"></div>-->
            <div controlId="pnlViewer" control="purchaseOrder.popup" style="display:none">
                <div control="purchaseOrder.billViewer" controlid="ucbillViewer"> </div>
            </div>

            <div controlId="pnlPayPending" control="purchaseOrder.popup" style="display:none">
                <div class="col-xs-12 col-lg-12 " style="margin-top:10px;">
                    <span class="label  col-xs-12 col-lg-2">Supplier Name</span>
                    <select class="col-xs-12 col-lg-4" control="purchaseOrder.dropDownList" controlid="ddlPendingVendorName" style="width:250px;"></select>
                    <span class="label  col-xs-12 col-lg-2" style="padding-left:100px;">Bill Type</span>
                    <select  style="margin-left:75px;"class="col-sm-2" control="purchaseOrder.dropDownList" controlid="ddlPayBillType">
                        <option>Select</option>
                        <option>Purchase</option>
                        <option>Return</option>
                    </select>
                    <input class="col-xs-12 col-lg-2" style="float:right;" value="Pay" controlId="btnPayPending" control="purchaseOrder.primaryReadButton" event="click:btnPayPending_click" />
                </div>
                <div class="col-xs-12 col-lg-12 " style="margin-top:10px;">
                    <div class="col-xs-12 col-lg-4 ">
                        <span class="label  col-xs-12 col-lg-6">Collector</span>
                        <select class="col-xs-12 col-lg-6" control="purchaseOrder.dropDownList" controlid="ddlPendingCollectorName"></select>
                    </div>
                    <div class="col-xs-12 col-lg-4 ">
                        <span class="label  col-xs-12 col-lg-6">Description</span>
                        <input class="col-xs-12 col-lg-6" type="text" controlId="txtPendingPayDesc" control="purchaseOrder.textBox">
                    </div>
                    <div class="col-xs-12 col-lg-4 ">
                        <span class="label  col-xs-12 col-lg-6">Date</span>
                        <input class="col-xs-12 col-lg-6" controlId="dsPendingPayDate" control="purchaseOrder.dateSelector" />
                    </div>
                </div>
                    <div class="col-xs-12 col-lg-12 " style="margin-top:10px;">
                        <div controlId="grdPendingPayment" control="purchaseOrder.grid">
                        </div>
                    </div>
              </div>

            <div class="basic-info" style="display:none" controlId="pnlNewVariation" control="purchaseOrder.popup">
                <div class="col-xs-12">
                    <input style="float:right" type="button" event="click:btnAddVariation_click" control="purchaseOrder.primaryReadButton" controlid="btnAddVariation" value="Add">
                    <!--<input type="button" value="Add" control="purchaseOrder.secondaryButton" controlid="btnReturnPOItem" event="click:btnReturnPOItem_click">-->
                </div>
                <div class="col-xs-12 col-lg-4 " control="purchaseOrder.htmlControl" controlId="pnlVariation">
                    <span class="label  col-xs-12 col-lg-5">New Variation</span>
                    <input class="col-xs-12 col-lg-7" type="text" controlid="txtNewVariation" control="purchaseOrder.textBox">
                </div>
                <div class="col-xs-12 col-lg-4 ">
                    <span class="label  col-xs-12 col-lg-5">Cost</span>
                    <select class="col-xs-12 col-lg-7" control="purchaseOrder.dropDownList" controlid="ddlAddInventCost"></select>
                </div>
                <div class="col-xs-12 col-lg-4 ">
                    <span class="label  col-xs-12 col-lg-5">Supplier</span>
                    <select class="col-xs-12 col-lg-7" control="purchaseOrder.dropDownList" controlid="ddlAddInventVendor"></select>
                </div>
                <div class="col-xs-12 col-lg-4 " control="purchaseOrder.htmlControl" controlId="pnlMrp">

                    <span class="label  col-xs-12 col-lg-5">MRP</span>
                    <input class="col-xs-12 col-lg-7" type="text" controlid="txtAddMrp" control="purchaseOrder.textBox">
                </div>
                <div class="col-xs-12 col-lg-4 " control="purchaseOrder.htmlControl" controlId="pnlBatchNo">

                    <span class="label  col-xs-12 col-lg-5">Batch No</span>
                    <input class="col-xs-12 col-lg-7" type="text" controlid="txtAddBatchNo" control="purchaseOrder.textBox">
                </div>
                <div class="col-xs-12 col-lg-4 " control="purchaseOrder.htmlControl" controlId="pnlExpiryDate">
                    <span class="label  col-xs-12 col-lg-5">Expiry Date</span>
                    <input type="text" class="col-xs-12 col-lg-7" controlid="dsAddExpiryDate" control="purchaseOrder.dateSelector">
                </div>
                <div class="col-xs-12 col-lg-6 " control="purchaseOrder.htmlControl" controlId="pnlManufactureDate">
                    <span class="label  col-xs-12 col-lg-5">Manufacture Date</span>
                    <input type="text" class="col-xs-12 col-lg-7" controlid="dsAddManufactureDate" control="purchaseOrder.dateSelector">
                </div>
            </div>
            <div id="dialog" title="Alert message" style="display: none">
                <div class="ui-dialog-content ui-widget-content">
                    <p>
                        <span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 20px 0"></span>
                        <label id="lblMessage">
                        </label>
                    </p>
                </div>
            </div>
            <div controlId="pnlTaxPopup" control="purchaseOrder.popup" style="display:none">
                <div>
                    <span class="col-lg-3">Select Tax  </span>
                    <select class="col-lg-6" controlId="ddlSalesTax" control="purchaseOrder.dropDownList" />
                    <input class="col-lg-3" style="float:right" value="Add Tax" controlId="btnTaxOK" control="purchaseOrder.primaryReadButton" event="click:btnTaxOK_click" />
                </div>
            </div>
        </div>
    </div>


</body>

</html>