<!doctype html>
<html>

<head>

    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.write('<script src="/' + appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');

        document.write('<script src="/' + appConfig.root + '/shopon/service/Reward/sales-executive-reward-plan-api.js"><\/script>');

        document.write('<link href="/' + appConfig.root + '/shopon/view/sales-executive-reward/sales-executive-reward.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/sales-executive-reward/sales-executive-reward.js"><\/script>');
        //Tamil Font
        document.write('<script src="/' + appConfig.root + '/core/tamil-common.js" type="text/javascript" > <\/script> ');
        document.write('<script src="/' + appConfig.root + '/core/tamil.js" type="text/javascript" > <\/script> ');
    </script>


</head>


<body control="page.salesExecutiveReward" controlId="salesExecutiveReward">

    <div control="salesExecutiveReward.masterPage" controlId="masterPage"></div>

    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">
            <div class="content-area row">
                <div control="salesExecutiveReward.messagePanel" controlid="msgPanel" class="message-panel" style="display:none">
                </div>
                <div class="search-panel col-sm-4" default-button="btnSearch">

                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" rlabel="Search" control="salesExecutiveReward.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" class="" role="button">

                    </div>
                    
                    <div class="search-filter">
                        <div>
                            <!--<span>Customer</span>-->
                            <input type="text" controlId="txtRewardSearch" rlabel="Enter Reward no, Reward Plan Name" placeholder="Enter Reward no, Reward Plan Name" control="salesExecutiveReward.textBox">
                        </div>


                    </div>
                    <div class="search-result">
                        <div  control="salesExecutiveReward.grid" controlid="grdRewardMaintan"></div>
                    </div>
                    <div class="col-sm-12">
                        <span class="label" rlabel="F1 - New"> F1 - New </span>
                        <span class="label" rlabel="F2 - Save"> F2 - Save </span>
                        <span class="label" rlabel="Ctrl + R - Remove"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel  col-sm-8">

                    <div class="detail-action">
                        <input value="New" rlabel="New" control="salesExecutiveReward.primaryWriteButton" controlid="btnNewReward" event="click:btnNewReward_click">
                        <input tabindex="4" value="Save" rlabel="Save" control="salesExecutiveReward.primaryWriteButton" controlid="btnSave" event="click:btnSave_click">
                        <input value="Remove" rlabel="Remove" control="salesExecutiveReward.secondaryButton" controlid="btnRemove" event="click:btnRemove_click">

                    </div>
                    <div class="detail-info">
                        
                        <div class="basic-info row">

                            <span class="label col-xs-12" style="margin-bottom: 5px" rlabel="Reward Details"><b>Reward Details</b></span>
                            <div class="col-xs-12 col-lg-8 ">
                                <span class="label  col-xs-12 col-lg-5" rlabel="Reward Plan Name">Reward Plan Name <span style="color:red;">*</span></span>
                                <input type="hidden" controlId="hdnRewardPlanid" control="salesExecutiveReward.htmlControl" />
                                <input class="col-xs-12 col-lg-7" tabindex="1" placeholder="Reward Plan Name" rlabel="Reward Plan Name" controlId="txtRewardPlanName" control="salesExecutiveReward.textBox" />
                            </div><br>
                            <div class="col-xs-12 col-lg-8 ">
                                <span class="label col-xs-12 col-lg-5" rlabel="Reward Plan Point">Reward Plan Point <span style="color:red;">*</span></span>
                                <input class="col-xs-12 col-lg-7" tabindex="2" placeholder="Reward Plan Point" rlabel="Reward Plan Point" controlId="txtRewardPlanPoint" control="salesExecutiveReward.textBox" />
                            </div><br>
                            <div class="col-xs-12 col-lg-8 ">
                                <span class="label  col-xs-12 col-lg-5" rlabel="Reward Plan Type">Reward Plan Type</span>
                                <input class="col-xs-12 col-lg-7" tabindex="3" placeholder="Reward Plan Type" rlabel="Reward Plan Type" controlId="txtRewardPlanType" control="salesExecutiveReward.textBox" />
                            </div>
                        </div>
                        
                        
                    </div>

                    </div>
                
                </div>

        </div>
    </div>
    <br />
    <br />

</body>

</html>