<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login/view/home-page/home-page.html">Tax Collector</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Master<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Ledger</a></li>
                        <li><a href="../../../taxcollector/view/staff/staff.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Staff</a></li>
                        <li><a href="../../../taxcollector/view/contractor/contractor.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Contractor</a></li>
                        <li><a href="../../../taxcollector/view/work/work.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Work</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand(House Tax)</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Water Tax</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Professional Tax</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Industry License</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand Name Change</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Cheque Book Entry</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;E.B Service</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Year Ending / Starting Process</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Village</a></li>
                        <!--<li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Bank</a></li>-->
                        <li><a href="../../../taxcollector/view/scheme/scheme.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Scheme</a></li>
                        <li><a href="../../../taxcollector/view/account/account.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Account</a></li>
                        <li><a href="../../../taxcollector/view/period/period.html"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Period</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Demand Collection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;House Tax Collection</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Water Tax Collection</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Professional Tax Collection</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;House Tax Collection</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Misc. Tax Collection</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Misc. Tax (Plan Approval)</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Misc. Tax (Prof License Tax)</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Misc. Tax (Water Tax Deposit)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Office<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Account Entry</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Industry License Application</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Voucher Cancelled Entry</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Cheque (Cancelled)</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Cheque Clearing Date</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Stock<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Item Master</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Supplier</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Sub Category</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Unit Master</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Maintainance Entry</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Stock Purchase Entry</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Demand Report<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Daily Report</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand Name List</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Bill Collection Bookwise</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Arrear List</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Arrear Notice</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand Excemption List</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand Statistics</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Demand Analysis</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Register (Form 1 to 31)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 1 [Demand Notice]</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 3 [Demand Register]</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 5 Demand Register Prof. Tax</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 10</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 11 Cash Book</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 12 Salary Advance Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 13</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 14</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 15</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 16 Pnchayat Assert Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 17 Assert Main Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 18 Stock Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 19</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 20</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 21 Scraped Goods Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 22 Building Material Stock Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 23 TWAD-EB Account Cash Book</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 24 TWAD-EB Account Receipt</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 25</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 26 Scheme Account Cash Book</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 28</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 29</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 30</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 31 Budget Form</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Other Registers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Industry Licence Certificate</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 54 Building Plan Approval Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 55 Deposit Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 74 Funeral Grant Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Form No 67 Auction Register</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Door No Checking</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Audit Report</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        1
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="../../../ui/ui/images/profile.png" style="margin-top:-10px;width:35px;height:35px;" /></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="../../../login/view/login-page/login-page.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>