<div class="pnlViewer">
    <!--<div class="col-xs-12" style="margin-top:0px;">
        <h2>Barcode Panel</h2>
    </div>-->
    <div class="col-xs-12" style="margin-top:0px;">
        <span class="col-xs-12">&nbsp;</span>
    </div>
    <div class="col-xs-12 col-lg-4 ">
        <span class="label  col-lg-2" rlabel="Bill No" controlId="htmlBillNo" control="barcodePrint.label">Bill No</span>
        <input class="col-lg-4" rlabel="Bill No" tabindex="1" controlId="txtBillNo" control="barcodePrint.textBox" />
        <span class="col-xs-1">&nbsp;</span>
        <input class="col-lg-4" rlabel="Invoice No" tabindex="2" controlId="txtInvoiceNo" control="barcodePrint.textBox" />
    </div>
    <div class="col-xs-12 col-lg-4 ">
        <select class="col-lg-5" controlId="ddlType" control="barcodePrint.dropDownList" style="padding:0px;">
            <option value="1">Select</option>
            <!--<!--<option value="2">Main Product Type</option>
            <option value="3">Product Type</option>-->
            <option value="4">Item</option>
            <option value="5">Variation</option>
        </select>
        <span class="col-lg-2">&nbsp;</span>
        <input class="col-xs-5" id="txtValue" controlId="txtValue" control="barcodePrint.autoCompleteList" placeholder="Select Category" />
    </div>
    <div class="col-xs-12 col-lg-4 ">
        <select class="col-lg-5" controlId="ddlStock" control="barcodePrint.dropDownList" style="padding:0px;">
            <option value="1">All</option>
            <option value="2">In Stock</option>
            <option value="3">Out Of Stock</option>
        </select>
        <span class="col-lg-2">&nbsp;</span>
        <input class="col-lg-5" value="Search" rlabel="Search" control="barcodePrint.secondaryButton" controlid="btnSearchStockBarcode" event="click:btnSearchStock_click">
    </div>
    <div class="col-xs-12" style="margin-top:15px;">
        <div class="col-xs-6" style="padding:0px;">
            <span class="col-xs-12" style="font-size:20px;padding:0px;">Barcode</span>
        </div>
        <div class="col-xs-6" style="text-align:right;">
            <span style="margin-right:10px;">Rows</span>
            <select control="barcodePrint.dropDownList" controlid="ddlBillPrintCount" style="margin-right:10px;">
                <option>2</option>
                <option>3</option>
                <!--<option>4</option>-->
            </select>
            <input value="Print" rlabel="Print" control="barcodePrint.primaryReadButton" controlid="btnPrintBarcode" event="click:btnPrintBarcode_click">
        </div>
    </div>
    <div class="col-xs-12" style="margin-top:10px;">
        <div style="width:100%;overflow-x:auto;overflow-y:hidden">
            <div controlId="grdBarcodePrint" control="barcodePrint.grid">
            </div>
        </div>
    </div>
</div>
