<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

<head>

    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.write('<script src="/' + appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');
        document.write('<script src="/' + appConfig.root + '/shopon/service/tax/taxclass-api.js"><\/script>');

        document.write('<link href="/' + appConfig.root + '/shopon/view/tax_class/tax-class.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/tax_class/tax-class.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/w3data/w3data.js"><\/script>');
    </script>


</head>


<body control="page.taxclassPage" controlId="taxclassPage">



    <div control="taxclassPage.masterPage" controlId="masterPage"></div>

    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">
            <div class="content-area row">
                <div control="taxclassPage.messagePanel" controlid="msgPanel" class="message-panel col-sm-12" style="display:none">
                </div>
                <div class="search-panel col-sm-5" default-button="btnSearch">
                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" rlabel="Search" control="taxclassPage.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click">

                    </div>
                    <div class="search-filter">
                        <div>
                            <input type="text" control="taxclassPage.textBox" controlId="txtSearchInput" rlabel="Enter tax class no or name" placeholder="Enter tax class no or name" >
                        </div>
                    </div>
                    <div class="search-result">
                        <div control="taxclassPage.grid" controlId="grdSearchResult"> </div>
                    </div>
                    <div class="col-sm-12" style="height:50px;">
                        <span class="label" rlabel="F1 - New"> F1 - New </span>
                        <span class="label" rlabel="F2 - Save"> F2 - Save </span>
                        <span class="label" rlabel="Ctrl + R - Remove"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel col-sm-7">
                    <div class="detail-action col-sm-12">
                        <input type="button" value="New" rlabel="New" control="taxclassPage.primaryReadButton" controlId="btnNew" event="click:btnNew_click" />

                        <input type="button" value="Save" rlabel="Save" control="taxclassPage.primaryReadButton" controlId="btnSave" event="click:btnSave_click" />

                        <input type="button" value="Remove" rlabel="Remove" control="taxclassPage.secondaryButton" controlId="btnDelete" event="click:btnDelete_click" />
                    </div>
                    
                    <div class="detail-info container-fluid">

                        <div class="detail-basic row">
                            <span class="label col-xs-12" rlabel="Tax Details"><b>Tax Details</b></span>
                            <div class="col-sm-6">
                                <span class="col-sm-4 label" rlabel="Tax class Name">Tax class Name<span style="color:red;">*</span></span>
                                <input class="col-sm-8" type="text" control="taxclassPage.textBox" controlId="txtTaxClassName"> 
                                
                            </div>
                            <div class="col-sm-6">
                                <span class="col-sm-4 label" rlabel="Tax class">Tax class</span>
                                
                                <span class="col-sm-8"><input type="checkbox" name="Active" control="taxclassPage.htmlControl" controlid="chkActive" /><span class="label" style="margin-top:-9%;margin-left:5px;" rlabel="Active">Active</span></span>

</div>
                            <div class="col-sm-6">
                                <span class="label col-sm-4" rlabel="Class Type">Class Type <span style="color:red;">*</span></span>
                                <select control="taxclassPage.dropDownList" controlId="ddlClassType" class="col-sm-8">
                                    <option>Select</option>
                                    <option>Goods</option>
                                    <option>Service</option>
                                </select>
                            </div>
                            <div class="col-sm-6" control="taxclassPage.htmlControl" controlId="pnlhsn">
                                <span class="label col-sm-4" rlabel="HSN Code">HSN Code</span>
                                <input controlId="txtHsnCode" control="taxclassPage.textBox" class="col-sm-8" />
                            </div>
                            <div class="col-sm-6" control="taxclassPage.htmlControl" controlId="pnlsac">
                                <span class="label col-sm-4" rlabel="SAC Code">SAC Code</span>
                                <input controlId="txtSacCode" control="taxclassPage.textBox" class="col-sm-8" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

</html>