.main-action-panel {
    display: inline-block;
    /* margin-left: 0 !important;
    position: relative;*/
    width: 100%;
}

.main-action-panel>input[controlid="btnNewBill"] {
    float: left;
}

.main-action-panel>input[controlid="btnReturnBill"] {
    float: right;
}

.content-area>div {
    display: inline-block;
    width: 100%;
}

.content-area {
    margin-top: 30px;
}



.shopon_grid_header {
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    display: inline-block;
    font-weight: bold;
    height: 35px;
    width: 100%;
}

.shopon_grid_header>div {
    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 10px;
    width: 30px;
}

.shopon_grid_header>div>span {
    margin: 10px auto auto;
    vertical-align: bottom;
}

.shopon_grid_header>div:first-child>input {
    margin: 10px auto auto;
    vertical-align: bottom;
}

.shopon_grid_row {
    height: 35px;
}

.shopon_grid_template {
    display: none;
}

.shopon_grid_row {
    display: inline-block;
}

.shopon_grid_row>div {
    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 10px;
    width: 50px;
}

.shopon_grid_row>div:first-child>input[type="checkbox"] {
    margin: 10px auto auto;
    vertical-align: bottom;
}

.shopon_grid_row>div>input[type="text"] {
    border: medium none;
    box-shadow: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.shopon_grid_row>div>input[type="text"]:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.shopon_grid_row>div>div {
    display: inline-block;
    margin: 10px auto auto;
}

input[controlid="btnDeleteBill"] {
    float: right;
    margin-left: 10px;
}

input[controlid="btnPrintBill"] {
    float: right;
    margin-left: 10px;
}

.sales-cust-panel {
    /*background-color: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
    display: inline-block;
    padding-top: 5px;
    height: 180px;
    width: 100%;*/
    
    margin: 10px;
}



.sales-cust-panel>div:last-of-type {
}
.sales-cust-panel>div {
    /*display: inline-block;
    float: left;
    margin-top: 3px;*/
}

.sales-cust-panel span {
}

.sales-cust-panel .label {
}

.sales-item-search {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
}

.sales-item-search input:first-of-type {
    /*width: 314px;*/
}

.sales-item-search input:last-of-type {
    margin-right: 10px;
}

.sales-item-search span {
    font-weight: bold;
}

.sales-summary-panel {
    /*background-color: whitesmoke;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgray;
    float: right;
    text-align: center;
    
    width: 100%;
    height: 180px;*/
    margin: 10px;
}

.sales-summary-panel div {
    /*display: inline-block;
    padding: 5px 5px;
    width: 100%;*/
}

.sales-summary-panel .label {
    /*display: inline-block;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    width: 120px;*/
}

.sales-summary-panel .label-value {
    /*color: gray;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
    width: 100px;*/
}

.sales-summary-panel>div:last-of-type>.label {
    /*color: black;
    font-size: 22px;
    vertical-align: inherit;*/
}

.sales-summary-panel>div:last-of-type>.label-value {
    /*color: black;
    font-size: 22px;*/
}

input[controlid=btnPayment] {
    height: 40px;
}
input[controlid=btnReturn] {
    height: 40px;
}

.sales-summary-panel .buttonSearch {
    /*font-size: 20px;
    font-weight: bold;
    padding: 10px;*/
}

.sales-item-panel {
    width: 100%;
    float: left;
    font-size: 12px;
    height: auto;
    padding: 10px;
}padding: 10px;
}