<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <!--<base href="/ShopOn/">
    <script src="core/master.js" type="text/javascript"></script>-->
    
        <script src="/config/config.js" type="text/javascript"></script>
        <script type="text/javascript">

            document.write('<script src="/'+ appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');
            document.write('<script src="/' + appConfig.root + '/shopon/service/manufacture/manufacture-service.js"><\/script>');
            document.write('<script src="/' + appConfig.root + '/shopon/service/manufacture/manufacture-api.js"><\/script>');
            document.write('<link href="/' + appConfig.root + '/shopon/view/manufacture/manufacture.css" rel="stylesheet" />');
            document.write('<script src="/' + appConfig.root + '/shopon/view/manufacture/manufacture.js"><\/script>');
            //Tamil Font
            document.write('<script src="/' + appConfig.root + '/core/tamil-common.js" type="text/javascript" > <\/script> ');
            document.write('<script src="/' + appConfig.root + '/core/tamil.js" type="text/javascript" > <\/script> ');
        </script>

    </head>
    
<body control="page.manufacturePage" controlId="manufacturePage">

    <div control="manufacturePage.masterPage" controlId="masterPage"></div>

    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">

            <div class="content-area row">
                <div control="manufacturePage.messagePanel" controlid="msgPanel" class="message-panel" style="display:none">
                </div>
                <div class="search-panel col-sm-4" default-button="btnSearch">

                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" rlabel="Search" control="manufacturePage.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" />

                    </div>
                    
                    <div class="search-filter">
                        <div>
                            <input type="text" control="manufacturePage.textBox" controlId="txtSearchInput" rlabel="Enter Manufature No or Name" placeholder="Enter Manufature No or Name">
                        </div>
                    </div>
                    <div class="search-result">
                        <div control="manufacturePage.grid" controlId="grdSearchResult"> </div>
                    </div>
                    <div class="col-sm-12">
                        <span class="label"> F1 - New </span>
                        <span class="label"> F2 - Save </span>
                        <span class="label"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel col-sm-8">

                    <div class="detail-action">
                        <input type="button" value="New" rlabel="New" control="manufacturePage.primaryWriteButton" controlId="btnNew" event="click:btnNew_click" />

                        <input type="button" value="Save" rlabel="Save" control="manufacturePage.primaryWriteButton" controlId="btnSave" event="click:btnSave_click" />

                        <input type="button" value="Remove" rlabel="Remove" control="manufacturePage.secondaryButton" controlId="btnDelete" event="click:btnDelete_click" />
                    </div>
                    
                    <div class="detail-info container-fluid">
                        <div class="detail-basic row">
                            <div class="col-xs-12">
                                <span class="label col-sm-12" control="manufacturePage.label" controlid="lblDetails" rlabel="Details"><b>Details:</b></span>
                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-5" control="manufacturePage.label" controlid="lblManuName" rlabel="Manufacturer Name">Manufacturer Name <span style="color:red;">*</span></span>
                                <input  class="col-sm-7" type="text" control="manufacturePage.textBox" controlId="txtManufactureName">

                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-4" control="manufacturePage.label" controlid="lblMobile no" rlabel="Mobile no">Mobile No</span>
                                <input class="col-sm-8" type="text" control="manufacturePage.textBox" maxlength="10" controlId="txtManufacturePhoneNo">

                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-5" control="manufacturePage.label" controlid="lblEmail"  rlabel="Email">Email</span>
                                <input class="col-sm-7" type="text" control="manufacturePage.textBox" controlId="txtManufactureEmail">

                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-4" control="manufacturePage.label" controlid="lblAddress" rlabel="Address">Address</span>
                                <input  class="col-sm-8" type="text" control="manufacturePage.textBox" controlId="txtManufactureAddress">
                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-4" control="manufacturePage.label" controlid="lblManufacturer" rlabel="Manufacturer">Manufacturer</span>
                                <span class="col-sm-8"><input type="checkbox" controlId="chkActive" control="manufacturePage.chkBox" name="man_active"><span class="label" rlabel="Active" style="margin-top:-22px;margin-left:5px;">Active</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br />

</body>
</html>