<div class="pnlViewer">
    <div class="col-xs-12 col-lg-6 ">
        <span class="label  col-lg-4 " rlabel="Bill No" controlId="htmlBillNo" control="billViewer.labelValue">Bill No</span>
        <span class="col-lg-6 " controlId="lblBillNo" control="billViewer.labelValue"></span>
    </div>
        
    <div class="col-xs-12" style="margin-top:10px;">
        <div style="width:100%;overflow-x:auto;overflow-y:hidden">
            <div controlId="grdBillItems" control="billViewer.grid">
            </div>
        </div>
    </div>
</div>
