<!DOCTYPE html>
<html>
<head>


    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">


        document.write('<script src="/'+ appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');
        document.write('<link href="/' + appConfig.root + '/shopon/view/main-product-type/main-product-type.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/main-product-type/main-product-type.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/product/item-service.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/product/main-product-type-api.js"><\/script>');


        document.write('<script src="/' + appConfig.root + '/shopon/service/w3data/w3data.js"><\/script>');
        //Tamil Font
        document.write('<script src="/' + appConfig.root + '/core/tamil-common.js" type="text/javascript" > <\/script> ');
        document.write('<script src="/' + appConfig.root + '/core/tamil.js" type="text/javascript" > <\/script> ');
        document.write('<script src="/' + appConfig.root + '/shopon/service/product/core-product-type-api.js"><\/script>');

    </script>

</head>


<body control="page.mainproductPage" controlId="mainproductPage">



    <div control="mainproductPage.masterPage" controlId="masterPage"></div>
    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">


            <div class="content-area row">
                <div control="mainproductPage.messagePanel" controlid="msgPanel" class="message-panel" style="display:none">
                </div>
                <div class="search-panel col-sm-4" default-button="btnSearch">

                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" rlabel="Search" control="mainproductPage.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" />

                    </div>
                    
                    <div class="search-filter">
                        <div>
                           
                            <input type="text" control="mainproductPage.textBox" controlId="txtSearchInput" rlabel="Enter main product type no or name" placeholder="Enter main product type no or name">
                        </div>



                    </div>
                    <div class="search-result">
                        <div control="mainproductPage.grid" controlId="grdSearchResult"> </div>
                    </div>
                    <div class="col-sm-12">
                        <span class="label" rlabel="F1 - New"> F1 - New </span>
                        <span class="label" rlabel="F2 - Save"> F2 - Save </span>
                        <span class="label" rlabel="Ctrl + R - Remove"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel  col-sm-8">

                    <div class="detail-action">
                        <input type="button" value="New" rlabel="New" control="mainproductPage.primaryReadButton" controlId="btnNew" event="click:btnNew_click" />

                        <input type="button" value="Save" rlabel="Save" control="mainproductPage.primaryReadButton" controlId="btnSave" event="click:btnSave_click" />

                        <input type="button" value="Remove" rlabel="Remove" control="mainproductPage.secondaryButton" controlId="btnDelete" event="click:btnDelete_click" />

                    </div>
                    
                    <div class="detail-info container-fluid">
                        <div class="detail-basic row">
                            <span class="label col-sm-12" rlabel="Details"><b>Details:</b></span>
                            <div class="col-sm-6">
                                <span class="label col-sm-5" rlabel="Main Product Type Name">Main Product Type Name<span style="color:red;">*</span></span>
                                <input class="col-sm-6" type="text" control="mainproductPage.textBox" controlId="txtMainProductName">
                            </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-4" rlabel="Core Product Name">Core Product Name<span style="color:red;">*</span></span>
                                <select class="col-sm-6" control="mainproductPage.dropDownList" controlid="ddlcoreproduct"></select>
                            </div>
                            <div class="image-panel col-xs-12 col-lg-6 col-sm-12 col-md-6" align="center" controlId="pnlImg" control="mainproductPage.htmlControl">
                                <div class="col-lg-12">
                                    <img id="output" style="max-width:150px; max-height:150px;" />
                                    <div class="col-md-10">
                                        <div>
                                            <label for="fileUpload" class="label" rlabel="Select File to Upload:">
                                                Select File to Upload:
                                            </label>

                                            <input type="file" id="fileUpload" accept="image/*" onchange="loadFile(event)">
                                            <br />
                                            <input id="btnUploadFile" class="btn btn-sm btn-success" control="mainproductPage.primaryReadButton" type="button" value="Upload File" rlabel="Upload File" controlid="btnUploadImage" event="click:btnUploadImage_click" />

                                        </div>
                                        <script>
                                            var loadFile = function (event) {
                                                var output = document.getElementById('output');
                                                output.src = URL.createObjectURL(event.target.files[0]);
                                            };
                                        </script>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br />


</body>
</html>