
.search-panel {
    width: 280px;
}
.search-action hr {
    width: calc(100% - 70px);
}
.search-filter > div .label {
    width: 90px;
}
.search-filter > div input {
    width: 160px;
}
.search-filter > div select {
    width: 165px;
}
.detail-action > hr {
    width: calc(100% - 130px);
}
.detail-action > [controlid="btnCopyAcademic"] {
    float: right;
    margin-top: 6px;
    padding: 0;
}
.tab-panels {
    height: 500px;
    width: 100%;
}
.grid-action hr {
    width: calc(100% - 300px);
}
.fee-panel .grid-action hr {
    width: calc(100% - 240px);
}
.detail-basic {
    margin-left: 25%;
    margin-top: 10px;
}
.detail-basic input {
    width: 180px;
}
.detail-basic select {
    width: 185px;
}
.detail-basic .label {
    width: 120px;
}
#groupbycust{
    font-size:20px;
    /*text-transform:uppercase;*/
}
@media all {
    .page-break { display: none; }
}

@media print {
    .page-break { display: block; page-break-before: always; }
}
.container .row >div{
    float: left;
    margin-bottom: 5px;
    min-height: 35px;
}
.tab li a {
    border: 0px solid;
}
    .tab li {
    background: var(--tab-back-color);
    border: 0px solid;
    color: var(--tab-color);
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;
    padding: 5px;
    text-decoration: none;
    font: var(--tab-header-font);
    
}
.tab li a.tabSelected {
        border-bottom: 3px solid #0E4BE4;
        outline: none;
}
.tab li a:hover {
        outline: none;
}
.B2CLInvoices .selected{
    background-color:red;
}
