<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.write('<script src="/' + appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');
        document.write('<link href="/' + appConfig.root + '/shopon/view/sales_tax/sales-tax.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/sales_tax/sales-tax.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/tax/salestaxclass-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/tax/salestax-api.js"><\/script>');

        document.write('<script src="/' + appConfig.root + '/shopon/service/tax/taxclass-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/shopon/service/w3data/w3data.js"><\/script>');
    </script>


</head>


<body control="page.salestaxPage" controlId="salestaxPage">


    <div control="salestaxPage.masterPage" controlId="masterPage"></div>

    <div style="margin-top:40px">

        <!--Load Content Area-->
        <div class="container-fluid">


            <div class="content-area row">
                <div control="salestaxPage.messagePanel" controlid="msgPanel" class="message-panel" style="display:none">

                </div>
                <div class="search-panel col-sm-4 col-xs-12 col-lg-4" default-button="btnSearch">
                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" rlabel="Search" control="salestaxPage.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" >
                     
                    </div>
                    <div class="search-filter">
                        <div>
                            <input type="text" control="salestaxPage.textBox" controlId="txtSearchInput" rlabel="Enter sales tax no or name" placeholder="Enter sales tax no or name" >
                            
                        </div>

                    </div>
                    <div class="search-result">
                        <div control="salestaxPage.grid" controlId="grdSearchResult"> </div>
                    </div>
                    <div class="col-sm-12" style="height:50px;">
                        <span class="label" rlabel="F1 - New"> F1 - New </span>
                        <span class="label" rlabel="F2 - Save"> F2 - Save </span>
                        <span class="label" rlabel="Ctrl + R - Remove"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel  col-sm-8 col-lg-8 col-xs-12">
                    <div class="detail-action col-sm-12">
                        <input type="button" value="New" rlabel="New" control="salestaxPage.primaryReadButton" controlId="btnNew" event="click:btnNew_click" />

                        <input type="button" value="Save" rlabel="Save" control="salestaxPage.primaryReadButton" controlId="btnSave" event="click:btnSave_click" />

                        <input type="button" value="Remove" rlabel="Remove" control="salestaxPage.secondaryButton" controlId="btnDelete" event="click:btnDelete_click" />
                    </div>
                    
                    <div class="detail-info container-fluid" >

                        <div class="detail-basic row">
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <span class="label col-xs-12" rlabel="Tax Details"><b>Tax Details</b></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <span class="label col-sm-4" rlabel="Sales Tax Name">Sales Tax Name<span style="color:red;">*</span></span>
                                    <input class="col-sm-7" type="text" control="salestaxPage.textBox" controlId="txtSalesTaxName">

                                </div>
                            <div class="col-sm-6">
                                <span class="label col-sm-3" rlabel="Sales Tax">Sales Tax</span>
                               
                                <span class="col-sm-8"><input type="checkbox" name="Active" control="salestaxPage.htmlControl" controlid="chkActive" /><span class="label" style="margin-top:-4%;margin-left:5px;" rlabel="Active">Active</span></span>
                            </div>
                            </div>
                            <!--<div class="col-sm-12">
                                <div class="col-sm-6">
                                    <span class="label col-sm-4">Sales Tax Level<span style="color:red;">*</span></span>
                                    <select class="col-sm-7" control="salestaxPage.dropDownList" controlid="ddlSalesTaxLevel">
                                        <option>Item</option>
                                        <option>Bill</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <span class="label col-sm-4" id="tax">Sales Tax Value</span>
                                    <input class="col-sm-7" type="text" control="salestaxPage.textBox" controlId="txtSalesTaxValue">
                                </div>
                            </div>-->
                            </div>
                        <div class="taxclass-panel row col-xs-12">
                            <div class="col-sm-12">

                                <span class="label col-sm-6" rlabel="Tax class"><b>Tax class</b></span>
                                <div class="col-sm-6" style="text-align:right">

                                    <input type="button" value="Add" rlabel="Add" control="salestaxPage.secondaryButton" controlid="btnAdd" event="click:btnAdd_click" />
                                    <input type="button" style="margin-right:10px;" value="Update" rlabel="Update" control="salestaxPage.secondaryButton" controlid="btnUpdate" event="click:btnUpdate_click" />
                                    <input type="button" value="Remove" rlabel="Remove" control="salestaxPage.secondaryButton" controlid="btnDelete1" event="click:btnDelete1_click" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div control="salestaxPage.grid" controlid="grdTaxResult"></div>
                            </div>
                           
                        </div>
                    </div>

                  


                </div>
                    </div>
                    <div controlid="pnlTaxAddPopup" control="salestaxPage.popup" style="display:none">
                        <div style="width:100%;margin-bottom:10px;display: inline-block;">
                            <input value="Save" rlabel="Save" style="float:right;" controlId="btnSaveTax" control="salestaxPage.primaryWriteButton" event="click:btnSaveTax_click" />
                        </div>

                        <div class="detail-basic">
                            <div class="col-lg-12">
                                <span class="label col-lg-4" rlabel="Tax Name">Tax Name</span>
                                <select control="salestaxPage.dropDownList" controlid="ddlTaxName" class="col-lg-6" autofocus></select>
                            </div>
                            <div class="col-lg-12">
                                <span class="label col-lg-4" rlabel="Percentage">Percentage<span style="color:red;">*</span></span>
                                <input controlId="txtTaxPer" control="salestaxPage.textBox" class="col-lg-6"/>
                            </div>
                            
                            <div class="col-lg-12">
                                <span class="label col-lg-4" rlabel="Central GST">Central GST</span>
                                <input controlId="txtCentralGST" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                            <div class="col-lg-12">
                                <span class="label col-lg-4" rlabel="State GST">State GST</span>
                                <input controlId="txtStateGST" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                            <div class="col-lg-12">
                                <span class="label col-lg-4" rlabel="Integrated GST">Integrated GST</span>
                                <input controlId="txtItemGST" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                            <div class="col-lg-12" controlId="pnlCessPer" control="salestaxPage.htmlControl">
                                <span class="label col-lg-4" rlabel="Cess %">Cess %</span>
                                <input controlId="txtCessPer" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                            <div class="col-lg-12" controlId="pnlCessQty" control="salestaxPage.htmlControl">
                                <span class="label col-lg-4" rlabel="Cess Qty">Cess Qty</span>
                                <input controlId="txtCessQty" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                            <div class="col-lg-12" controlId="pnlCessAmt" control="salestaxPage.htmlControl">
                                <span class="label col-lg-4" rlabel="Cess Amount">Cess Amount</span>
                                <input controlId="txtCessAmount" control="salestaxPage.textBox" class="col-lg-6" />
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</body>

</html>