<div>
    <div style="display: inline-block; width: 100%;margin-bottom:10px">
        <input style="float: right;margin-right:40px;width:80px;" value="New" control="simpleEntityManage.primaryWriteButton" controlid="btnAdd" event="click:btnAdd_click" />

    </div>

    <div style="display: inline-block; width: 97%; margin-left:25px;">
        <div control="simpleEntityManage.grid" controlid="grdDataList"></div>
    </div>


    <div style="display: inline-block; width: 100%;">
        <div control="simpleEntityManage.grid" controlid="grdDataList2"></div>
    </div>
</div>

 
