<!doctype html>
<html>
<head>
    <base href="/RAC/">
    <script src="core/master.js" type="text/javascript"></script>

    <link href="view/users-config/users-config.css" rel="stylesheet" />
    <script src="view/users-config/users-config.js"></script>



</head>
<body control="page.masterconfig" controlId="masterConfigPage">
    <div control="masterconfig.masterPage" controlId="masterConfigurationPage"></div>

    <div class="content-area">
        <!-- Page Left Search Panel-->

<div  event="click:lnkMenuMasterConfig_Click">

        <nav id="navigation" class="clearfix">
            <ul><b>
                <li><a href="view/user/users-config/users/users.html">User Management</a></li>
                <li><a href="view/user/users-config/group/group.html">Group Management</a></li>
                <li><a href="view/user/users-config/user-group/user-group.html">User-Group Configuration</a></li>
                <li><a href="view/user/users-config/perm/perm.html">Permission Management</a></li>
                <li><a href="view/user/users-config/object/object.html">Object Configuration</a></li>
                <li><a href="view/user/users-config/user-obj-perm/user-obj-perm.html">User,Object And Permission Configuration</a></li>
                </b>
            </ul>
        </nav>
        </div>
</div>

</body>
</html>