<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <script src="/config/config.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.write('<script src="/' + appConfig.root + '/core/master.js" type="text/javascript" > <\/script> ');
        document.write('<link href="/' + appConfig.root + '/shopon/view/user/user.css" rel="stylesheet" />');
        document.write('<script src="/' + appConfig.root + '/shopon/view/user/user.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/login/view/master-page/master-page.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/login/service/user-permission-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/cloud/service/group-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/cloud/service/user-group-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/cloud/service/company-product-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/login/service/menu-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/login/service/user-api.js"><\/script>');
        document.write('<script src="/' + appConfig.root + '/cloud/service/object-permissions-api.js"><\/script>');
    </script>
</head>
<body control="page.UserMemberPage" controlId="UserMemberPage">
    <div control="UserMemberPage.masterPage" controlId="masterPage"></div>
    <div style="margin-top:40px">
        <!--Load Content Area-->
        <div class="container-fluid">
            <div class="content-area row">
                <div control="UserMemberPage.messagePanel" controlid="msgPanel" class="message-panel" style="display:none">
                </div>
                <div class="search-panel col-xs-12 col-sm-4 col-md-4 col-lg-4" default-button="btnSearch">
                    <div class="search-action">
                        <hr>
                        <input type="button" value="Search" control="UserMemberPage.primaryReadButton" controlId="btnSearch" event="click:btnSearch_click" >
                    </div>
                    <div class="search-filter">
                        <div>
                            <input type="text" control="UserMemberPage.textBox" controlId="txtSearchInput" placeholder="Enter user id or name" >
                        </div>
                    </div>
                    <div class="search-result">
                        <div control="UserMemberPage.grid" controlId="grdSearchResult"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:30px;">
                        <span class="label" rlabel="F1 - New"> F1 - New </span>
                        <span class="label" rlabel="F2 - Save"> F2 - Save </span>
                        <span class="label" rlabel="Ctrl + R - Remove"> Ctrl + R - Remove </span>
                    </div>
                </div>
                <div class="detail-panel col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="detail-action col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="button" value="New" control="UserMemberPage.primaryReadButton" controlId="btnNew" event="click:btnNew_click" />
                        <input type="button" value="Save" control="UserMemberPage.primaryReadButton" controlId="btnSave" event="click:btnSave_click" />
                        <input type="button" value="Remove" control="UserMemberPage.secondaryButton" controlId="btnDelete" event="click:btnDelete_click" />
                    </div>
                    <div class="detail-info container-fluid">
                        <div class="detail-basic row">
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">User Name<span style="color:red;">*</span></span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtUserName">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Phone No<span style="color:red;">*</span></span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtPhoneNo" maxlength="10">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Email<span style="color:red;">*</span></span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtEmail">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Password</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtPassword">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Full Name</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtFullName">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">OTP</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtOTP">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">active</span>
                                    <span class="col-xs-12 col-sm-6 col-md-7 col-lg-4"><input type="checkbox" controlId="chkActive" control="UserMemberPage.chkBox" name="cus_active"><span class="label" style="margin-top:-15px;margin-left:5px;">Active</span></span>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Address Line1</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtAddressLine1">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Address Line2</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtAddressLine2">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Address Line3</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtAddressLine3">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">City</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtCity">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">State</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtState">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margintop">
                                    <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-4">Country</span>
                                    <input class="col-xs-12 col-sm-8 col-md-7 col-lg-8" type="text" control="UserMemberPage.textBox" controlId="txtCountry">
                                </div>
                            </div>
                        </div>
                        <div class="userclass-panel row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-family:Calibri;font-size:20px;font-weight:bold;"><b>User Group</b></span>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                                    <input type="button" value="Add" control="UserMemberPage.secondaryButton" controlid="btnAdd" event="click:btnAdd_click" />
                                    <input type="button" style="margin-right:10px; display:none;" value="Update" control="UserMemberPage.secondaryButton" controlid="btnUpdate" event="click:btnUpdate_click" />
                                    <input type="button" value="Remove" control="UserMemberPage.secondaryButton" controlid="btnDelete1" event="click:btnDelete1_click" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div control="UserMemberPage.grid" controlid="grdUserMember"></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-family:Calibri;font-size:20px;font-weight:bold;"><b>User / Group Permission</b></span>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                                    <input type="button" value="Add" control="UserMemberPage.secondaryButton" controlid="btnAddpermission" event="click:btnAddPermission_click" />
                                    <input type="button" style="margin-right:10px; display:none;" value="Update" control="UserMemberPage.secondaryButton" controlid="btnUpdatePermission" event="click:btnUpdatepermission_click" />
                                    <input type="button" value="Remove" control="UserMemberPage.secondaryButton" controlid="btnDeletePermission" event="click:btnDeletePermission_click" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div control="UserMemberPage.grid" controlid="grdUserMemberPermission"></div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div controlid="pnlAddUserMemberPermission" control="UserMemberPage.popup" class="col-sm-12" style="display:none">
                        <div style="width:100%;margin-bottom:10px;display: inline-block;">
                            <input value="Save" style="float:right;" controlId="btnSaveMember" control="UserMemberPage.primaryWriteButton" event="click:btnSaveUserMember_click" />
                        </div>
                        <div class="detail-basic">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-sm-5">Product Name<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlProductNamePermission" class="col-sm-6" autofocus></select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-xs-12 col-sm-4 col-md-5 col-lg-5">Object ID<span style="color:red;">*</span></span>
                                <input class="col-xs-12 col-sm-4 col-md-6 col-lg-6" type="text" control="UserMemberPage.textBox" controlId="txtObjectID">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-sm-5">Object Type<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlObjectType" class="col-sm-6"></select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="label col-sm-5">Object For<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlObjectFor" class="col-sm-6"></select>
                            </div>
                            <div class="col-sm-12"  control="UserMemberPage.htmlControl" controlid="pnlUserGroup" style="display:none;">
                                <span class="label col-sm-5">Group<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlGroupPermission" class="col-sm-6"></select>
                            </div>
                        </div>
                    </div>
                    <div controlid="pnlAddUserMember" control="UserMemberPage.popup" class="col-sm-12" style="display:none">
                        <div style="width:100%;margin-bottom:10px;display: inline-block;">
                            <input value="Save" style="float:right;" controlId="btnSaveUserMember" control="UserMemberPage.primaryWriteButton" event="click:btnSaveMember_click" />
                        </div>
                        <div class="detail-basic">
                            <div class="col-sm-12">
                                <span class="label col-sm-5">Product Name<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlProductName" class="col-sm-6" autofocus></select>
                            </div>
                            <div class="col-sm-12">
                                <span class="label col-sm-5">Group<span style="color:red;">*</span></span>
                                <select control="UserMemberPage.dropDownList" controlid="ddlGroup" class="col-sm-6" autofocus></select>
                            </div>
                      </div>
                </div>
            </div>
    </div><br><br><br><br>
</body>
</html>